<div class="container" id="i18_publications">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="website.publications_sec">Publications</span></h1>
        </div>
    </div>


<div class="col-lg-4 text-center"></div>

  <div class="row wow zoomIn">
    <div class="col-lg-8 col-lg-offset-2">

      <h1>2018</h1>
      <ul style="list-style-type: none">

        <li class="entry wow zoomIn">
      <h2><strong>CASCADE: Channel-Aware Structured Cosparse Audio DEclipper.</strong></h2>
          Gaultier, C., Bertin, N., & Gribonval, R.<br />
          2018 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP),. IEEE. (To appear, April 2018)
      	  <!-- <a href="" target="_blank">[HAL]</a><br /> -->
      </li>
      </ul>

      <h1>2017</h1>
      <ul style="list-style-type: none">

        <li class="entry wow zoomIn">
	  <h2><strong>A modeling and algorithmic framework for (non) social (co) sparse audio restoration.</strong></h2>
          Gaultier, C., Bertin, N., Kitić, S., & Gribonval, R.<br />
	  preprint (2017)
	  <a href="https://arxiv.org/abs/1711.11259" target="_blank">[arXiv preprint]</a><a href="https://hal.inria.fr/hal-01649261" target="_blank">[HAL]</a><br />
	</li>

  <li class="entry wow zoomIn">
<h2><strong>AUDASCITY: AUdio Denoising by Adaptive Social CosparsITY.</strong></h2>
Gaultier, C., Kitić, S., Bertin, N., & Gribonval, R.<br />
25th European Signal Processing Conference (EUSIPCO). (August 2017)
<a href="https://hal.inria.fr/hal-01540945/" target="_blank">[HAL]</a><br />
</li>


        <li class="entry wow zoomIn">
	  <h2><strong>Cosparse denoising: The importance of being social.</strong></h2>
	  Gaultier, C., Kitić, S., Bertin, N., & Gribonval, R.<br />
	  The Signal Processing with Adaptive Sparse Structured Representations (SPARS) workshop. (abstract, June 2017)
	  <a href="https://hal.inria.fr/hal-01510710/" target="_blank">[HAL]</a><br />
	</li>


        <li class="entry wow zoomIn">
	  <h2><strong>VAST: The Virtual Acoustic Space Traveler dataset.</strong></h2>
          Gaultier, C., Kataria, S., & Deleforge, A.<br />
	  International Conference on Latent Variable Analysis and Signal Separation (pp. 68-79). Springer, Cham. (February 2017)
	  <a href="https://arxiv.org/abs/1612.06287" target="_blank">[arXiv]</a><a href="https://hal.archives-ouvertes.fr/hal-01416508" target="_blank">[HAL]</a><br />
	</li>

	<li class="entry wow zoomIn">
	  <h2><strong>Hearing in a shoe-box: binaural source position and wall absorption estimation using virtually supervised learning.</strong></h2>
          Kataria, S., Gaultier, C., & Deleforge, A.<br />
	  2017 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), (pp. 226-230). IEEE. (March 2017)
	  <a href="https://arxiv.org/abs/1609.09747" target="_blank">[arXiv]</a><a href="https://hal.inria.fr/hal-01372435v2" target="_blank">[HAL]</a><br />
	</li>

      </ul>

      <h1>2015</h1>
      <ul style="list-style-type: none">

        <li class="entry wow zoomIn">
      <h2><strong>Acclimatization to different English accents for enhanced speech intelligibility in noise in individuals with normal hearing.</strong></h2>
          Gokula, R., Gaultier, C., Monaghan, J. J. M., & Bleeck, S.<br />
      Basic Auditory Science Meeting, British Society of Audiology. (abstract, September 2015)<br />
      </li>
      </ul>
    </div>
  </div>
  <br /><br />
</div>
