<!-- Google analytics -->
{% if site.ga %}
  <script>
  function loadGAonConsent(){
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ site.ga.id }}', 'auto');
    ga('require', '{{ site.go.id }}');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
    var gascript = document.createElement("script");
    gascript.async = true;
    gascript.src = "https://www.google-analytics.com/analytics.js";
    document.getElementsByTagName("head")[0].appendChild(gascript, document.getElementsByTagName("head")[0]);               
}
  </script>
{% endif %}
<!-- cookie consent banner -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script src="{{ "/static/js/cookie-consent.js" | prepend: site.baseurl }}"></script>
