<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- <meta http-equiv="Content-Language" content="fr,en" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta name="description" content="{{ site.description }}"/>
  <meta name="keywords" content="{{ site.keywords }}"/>
  <meta name="author" content="{{ site.author.name }}"/>
  <title>{{ site.title }}</title>
  <link rel="canonical" href="{{ site.url }}">
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{"/static/assets/img/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{"/static/assets/img/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/static/assets/app-20170905.min.css" | prepend: site.baseurl }}" >
  <script src="{{ "/static/assets/app-index-20170905.min.js" | prepend: site.baseurl }}"></script>

  {% if site.data.index.language %}
  <script async defer src="{{"/static/assets/i18-20170905.min.js"| prepend: site.baseurl }}"></script>
  {% endif %}
  <link rel="alternate" href="{{ site.url }}" hreflang="x-default" />

  {% if site.data.index.projects %}
  <script async defer src="{{ "/static/js/github_api.min.js" | prepend: site.baseurl }}"></script>
  {% endif %}
  <!-- google add -->
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6196184620170905",
      enable_page_level_ads: true
    });
  </script>

  <!-- Rich snippets -->
<!-- <span itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="{{ site.author.name }}"/>
    <meta itemprop="email" content="{{ site.author.email }}"/>
    <meta itemprop="image" content="{{ site.author.avatar | prepend: site.url }}"/>
    <link itemprop="url" href="{{ site.url }}">
    <a itemprop="sameAs" href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}"></a>
    <a itemprop="sameAs" href="{{ site.author.scholar_address }}"></a>
</span> -->

<span itemscope itemtype="http://schema.org/WebSite">
    <meta itemprop="name" content="{{ site.author.name }}"/>
    <link itemprop="url" href="{{ site.url }}">
    <meta itemprop="inLanguage" content="en"/>
    <meta itemprop="inLanguage" content="fr"/>
</span>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script type="application/ld+json">
 {
	"@context": "http://www.schema.org",
	"@type": "Person",
	"name": "Clément Gaultier",
	"alternateName": "Clement Gaultier",
	"nationality": "French",
	"affiliation": [
		{
			"@type": "Organization",
			"name": "University of Cambridge",
			"sameAs": [
				"https://twitter.com/Cambridge_Uni",
				"https://www.facebook.com/cambridge.university",
				"https://www.linkedin.com/school/university-of-cambridge",
				"https://www.cam.ac.uk/"
			]
		}
	],
	"alumniOf": [
		{
			"@type": "OrganizationRole",
			"alumniOf": {
				"@type": "CollegeOrUniversity",
				"name": "Inria",
				"sameAs": "https://www.inria.fr"
			}
		},
		{
			"@type": "OrganizationRole",
			"alumniOf": {
				"@type": "CollegeOrUniversity",
				"name": "University of Rennes 1",
				"sameAs": "https://en.wikipedia.org/wiki/University_of_Rennes_1"
			}
		},
		{
			"@type": "OrganizationRole",
			"alumniOf": {
				"@type": "CollegeOrUniversity",
				"name": "Le Mans University",
				"sameAs": "https://en.wikipedia.org/wiki/Le_Mans_University"
			}
		}
	],
	"gender": "Male",
	"Description": "Researcher",
	"jobTitle": "Researcher",
	"colleague": [
     		"https://twitter.com/tobigoehring"
  	],
	"worksFor": [
		{
			"@type": "Organization",
			"name": "University of Cambridge",
			"sameAs": [
				"https://www.twitter.com/Cambridge_Uni",
				"https://www.facebook.com/cambridge.university",
				"https://www.linkedin.com/school/university-of-cambridge",
				"https://www.cam.ac.uk/"
			]
		}
	],
	"url": "https://gaultier.io",
	"image": "https://gaultier.io/static/assets/img/Clement_600px.png",
	"sameAs": [
		"https://linkedin.com/in/clement-gaultier",
		"https://github.com/cgaultier",
		"https://gitlab.com/cgaultier",
		"https://scholar.google.fr/citations?user=pP4U2sMAAAAJ",
		"https://hub.docker.com/u/cgaultier",
		"https://orcid.org/0000-0002-4552-9659",
		"https://gaultier.io"
	]
 }
</script>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [
        {
            "@type": "SiteNavigationElement",
            "position": 1,
            "name": "About",
            "description": "Click to know more.",
            "url": "https://gaultier.io/#about-me"
        },
        {
            "@type": "SiteNavigationElement",
            "position": 2,
            "name": "Publications",
            "description": "Read more about my publications.",
            "url": "https://gaultier.io/#publications"
        },
        {
            "@type": "SiteNavigationElement",
            "position": 3,
            "name": "Links",
            "description": "Read more about some previous or ongoing projects.",
            "url": "https://gaultier.io/#projects"
        },
        {
            "@type": "SiteNavigationElement",
            "position": 4,
            "name": "Contact",
            "description": "Contact me here.",
            "url": "https://gaultier.io/#links"
        }
    ]
}
</script>
</head>