<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta name="description" content="{{ site.description }}"/>
  <meta name="keywords" content="{{ site.keywords }}"/>
  <meta name="author" content="{{ site.author.name }}"/>
  <title>{{ site.title }}</title>
  <link rel="canonical" href="{{ site.url }}">
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{"/static/assets/img/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{"/static/assets/img/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/static/assets/app-20170905.min.css" | prepend: site.baseurl }}" >
  <script src="{{ "/static/assets/app-index-20170905.min.js" | prepend: site.baseurl }}"></script>

  {% if site.data.index.language %}
  <script async defer src="{{"/static/assets/i18-20170905.min.js"| prepend: site.baseurl }}"></script>
  {% endif %}

  {% if site.data.index.projects %}
  <script async defer src="{{ "/static/js/github_api.min.js" | prepend: site.baseurl }}"></script>
  {% endif %}
  <!-- google add -->
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6196184620170905",
      enable_page_level_ads: true
    });
  </script>

  <!-- Rich snippets -->
  <span itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="{{ site.author.name }}"/>
    <meta itemprop="email" content="{{ site.author.email }}"/>
    <!-- <img src="{{ site.author.avatar | prepend: site.baseurl }}" itemprop="image" alt="{{ site.author.name }}"> -->
    <link itemprop="url" href="https://gaultier.io">
    <a itemprop="sameAs" href="https://www.linkedin.com/in/clement-gaultier"></a>
  </span>
</head>
